MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=guitu

DB_HOST=localhost
DB_PORT=3306
DB_NAME=guitu
DB_USERNAME=root
DB_PASSWORD=522370

ZHIPU_API_KEY=33a4343ecd9f49e6a0c8de155c62ae36.zA95JHEiKXqbu4OR
ZHIPU_AI_MODEL=glm-4-flash-250414
ZHIPU_API_URL=https://open.bigmodel.cn/api/paas/v4/chat/completions
