MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=guitu

DB_HOST=localhost
DB_PORT=3306
DB_NAME=guitu
DB_USERNAME=root
DB_PASSWORD=root

ZHIPU_API_KEY=your_zhipu_api_key
ZHIPU_AI_MODEL=glm-4-flash-250414
ZHIPU_API_URL=https://open.bigmodel.cn/api/paas/v4/chat/completions
